.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/*Begin CSS for view.html*/

#container {
	width: 1000px;
	border: 1px solid black;
	margin: auto;
	padding: 10px;
}

body * {
	font-family: serif;
}

img {
	float: left;
	height: 200px;
	margin: 20px;
}

#name_contact {
	position: relative;
	float: left;
	border: 1px solid black;
	margin: 20px 20px 0 20px;
	padding: 5px;
	height: 200px;
	width: 60%;
	border-radius: 10px;
}

#name_block {
	display: block;
	float: left;
	position: relative;
	width: 100%;
}

#first_name {
	float: left;
	margin-right: 10px;
	display: block;
}

#last_name {
	float: left;
	display: block;
}

#address {
	float: left;
	margin-right: 10px;
	display: block;
}

#contact {
	float: left;
	display: block;
}

#skills, #experience, #education, #accomplishments {
	border: 1px solid black;
	clear: left;
	width: 900px;
	padding: 10px 0 10px 0;
	border-radius: 10px;
	margin: auto;
	margin-top: 20px;
}

#skills h1, #experience h1, #education h1, #accomplishments h1 {
	text-align: left;
	padding-left: 20px;
	background-color: gray;
}

#skills ul {
	text-align: left;
	float: left;
	width: 300px;
	font-size: 20px;
	margin: 10px 0 0 0;
	padding: 0;
}

li {
	font-size: 14px;
	text-align: left;
	margin-left: 20px;
}

.exp_details1 {
	margin-left: 150px;
}

#experience span {
	position: relative;
}

.expand {
	margin-left: 20px;
	border-radius: 100%;
}

.company {
	left: 50px;
}

.position {
	left: 150px;
}

.work_start {
	left: 300px;
}

.work_end {
	left: 400px;
}

.school1, .accomp {
	margin-left: 20px;
}


/*End CSS for view.html*/


/*Begin CSS for signup.html*/

legend {
	margin-left: 20px;
}

.category_container {
	float: left;
	display: block;
}

.skills_container {
	float: left;
	display: block;
	margin-left: 0px;
	width: 690px;
	position: relative;
}

.skills_container .skill_block .control-group .controls {
	float: left;
	display: block;
	margin-left: 50px;
}

.skills_container .skill_block label {
	margin-right: 20px;
}

.skills_container .skill_block .form-inline {
	width: 514px;
}

.skill_block_add {
	float: right;
	position: absolute;
	bottom: 25px;
	right: 30px;
}

.big_skills_template_block {
	padding-top: 0;
	display: none;
	margin-top: 0;
}

.category_block_add, .education_block_add, .work_block_add, .greatness_block_add, .responsibility_add {
	position: relative;
	left: 100px;
}

textarea {
	resize: none;
}

/*End CSS for signup.html*/



















