.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.forclearing {
	clear: both;
}

#container {
	width: 1000px;
	border: 1px solid black;
	margin: auto;
	padding: 10px;
}

body * {
	font-family: serif;
}

img {
	float: left;
	height: 300px;
	margin: 20px;
}

#name_contact {
	position: relative;
	float: left;
	border: 1px solid black;
	margin: 20px;
	padding: 5px;
	height: 300px;
	width: 60%;
}

#name_block {
	display: block;
	float: left;
	position: relative;
	width: 100%;
}

#first_name {
	float: left;
	margin-right: 10px;
	display: inline-block;
}

#middle_name {
	float: left;
	display: inline-block;
	margin-right: 10px;
}

#last_name {
	float: left;
	display: inline-block;
}

#address {
	float: left;
	margin-right: 10px;
	display: inline-block;
}

#contact {
	float: left;
	display: inline-block;
}

#skills {
	border: 1px solid black;
	clear: left;
	width: 900px;
	padding: 10px 0 10px 0;
}

#skills h1 {
	text-align: left;
	padding-left: 20px;
	background-color: gray;
}

#skills ul {
	text-align: left;
	float: left;
	width: 300px;
	font-size: 20px;
	margin: 10px 0 0 0;
	padding: 0;
}

li {
	font-size: 14px;
	text-align: left;
	margin-left: 20px;
}

.experience {
	border: 1px solid black;
	margin-top: 10px;
	width: 900px;
}

.experience span {
	border: 1px dashed black;
	position: relative;
}

.company {
	left: 50px;
}

.position {
	left: 150px;
}

.start_date {
	left: 300px;
}

.end_date {
	left: 400px;
}

.expand_button {
	border: 1px solid black;
	left: 15px;
	border-radius: 15px;
	height: 10px;
	width: 10px;
}

.category_container {
	float: left;
	display: inline-block;
}

.skills_container {
	float: left;
	display: inline-block;
	margin-left: 0px;
}

.skills_container .skill_block .control-group .controls {
	float: left;
	display: inline-block;
	margin-left: 50px;
}

.form-inline label textarea {
	vertical-align: top;
	resize: none;
}

.skill_block_add {
	margin-left: 50px;
}

.big_skills_template_block {
	border: 1px dashed black;
	padding-top: 0;
	display: inline-block;
	z-index: -1;
	margin-top: -140px;
	visibility: hidden;
}

.category_block_add {
	position: relative;
	left: 100px;
	bottom: 50px;
}

.skill_block_add {
	position: relative;
}























